body {
  background-color: white;
}

/*The Nav Bar Logo is an h5*/
h5 {
  color:white;
  border-color:#041F2A;
  border-width: 1px;
  font-family:'Raleway', sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
}

#page-div {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.page-body {
  display: flex;
  align-items: center;
}

#landing-page-div {
  display: flex;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: baseline;
}

#main-image {
  width: 100%;
}

#move-image {
  width: 100%;
  height: 100%;
}

#move-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  color:white;
  font-family:'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size:12px;
}

#logo-nav {
  color:white;
  padding-right: 20px;
  font-family:'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size:12px;
}

.routineContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}

#routine-info {
  font-family:'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color:black;
}

#routine-info-div {
  display: flex;
  flex-direction: column;
  margin: inherit;
}

.routineCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.thumbnail {
  height: 190px;
}

#img-box-div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-around;
}

.thumbnail {
  height: 250px;
  width: 250px;
}

@media (max-width: 600px) {
  #routine-info{
  font-size: 10px;
  padding-top: 12px;
  /*flex-direction: column-reverse;*/
  }
}

@media (max-width: 600px) {
  #main-image{
  width: 100%;
  height: 200%;
  }
}

@media (max-width: 800px) {
  #main-image{
  width: 100%;
  height: 200%;
  }
}

@media (max-width: 600px) {
  #footer{
  width: 100%;
  height: 200%;
  }
}

@media (max-width: 600px) {
  #landing-page-div{
    display: flex;
    flex-direction: column;
    background-color: black;
  }
}



/*#landing-page-div {
  display: flex;
  flex-direction: column;
}*/


.hide-on-small-only {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  display: flex;
  background-color:black;
  width: 100%;
  height: 100%;
  align-content: space-between;
}


#nav-bar {
  display: flex;
  background-color:black;
  height:50px;
  align-content: space-between;
}

#footer {
  display: flex;
  background-color:black;
  height:50px;
  align-content: space-between;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#play-button {
  position: fixed;
  top:50%;
  left:50%;
  width:20px;
  height: 20px;
}
